lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

# logs
logs
npm-debug.log

# dependencies
node_modules

# private files
keys.js
private

# compiled less
*/less/*.css
